.App {
  font-family: sans-serif;
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgba(11, 4, 112, 0.733);
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

button {
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(11, 4, 112, 0.733);
}
